

.box{
  position: inherit;
  width:510px;
  /* height:230px; */
  background-color: #240d2e;
  color:white;
  text-align: left;
  border-radius: 7px ;
  padding:50px 30px;
  z-index: 2;
}

.wrapper{
  position: relative;
  background-image: linear-gradient(120deg,#FB00ABB2,#3200FBB2,#9C37FDB2);
  width: max-content;
  border-radius: 7px;
  padding: 1px 1px;
  margin: 0px 20px;
  z-index: 1;
}

.bigWrapper{
  width: max-content;
}

.rightbar{
  z-index: 0;
  margin-top: -262px;
  background-image:linear-gradient(#180023,#180023),linear-gradient(to right,#9C37FDB2 1%,#FB00ABB2 10%,#15BFFD00,#180023 60%); 
}

.leftbar{
  z-index: 0;
  margin-top: -260px;
  margin-left: 200px;
  background-image:linear-gradient(#180023,#180023),linear-gradient(to left,#9C37FDB2 1%,#FB00ABB2 10%,#15BFFD00,#180023 60%); 
}

.box h3{
  padding-bottom: 2px;
}